<nav class="navbar navbar-light bg-white drop-shadow sticky-top">
    <div class="container-fluid px-2 ms-5 p-1 d-flex flex-row">
        <div class="leftrow d-flex flex-row col-8 justify-content-between">
            <a href="" class="navbar-brand color-title col-5">
                <img src="assets/images/logo.png" height="30" 
                    class="d-inline-block align-top app-logo" alt="">
                Lloyds List Intelligence
            </a>
            <form class="d-flex  w-100 input-group">
                <span class="input-group-text bg-light color-light-2 border-0" id="basic-addon1 bg-light"><i class="bi-search"></i></span>
                <input class="form-control me-2 bg-light border-0 shadow-none" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
        <!-- <div class="d-flex flex-row right-row col-4 justify-content-end">
            <button>Hi</button>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
            </ul>
        </div> -->
    </div>
</nav>