// .filters{
//     font-size: 12p !important;
// }

.input-new{
    border: 1px solid rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
    height: 30px !important;
    width: 200px !important;
    border-radius: 5px !important;
}


.dropdown-menu-main-li{
    font-size: 12px;
}
    
.filters ul.dropdown-menu{
    border: 1px solid rgba(0, 0, 0, 0.05);
}
ul.dropdown-menu > li:nth-child(2n-1){
    background-color:rgba(0, 0, 0, 0.05) !important;
}