<div class="row mb-2">
    <h2>VDP Feeds</h2>
</div>
<app-feed-counts-slider [dataList]="feedCounts" [loading]="isFeedCountLoading"></app-feed-counts-slider>
<div class="row mt-3">
    <div class="col-12 ">
        <div class="px-3 py-3 bg-white drop-shadow">
            <h4>VDP - Vessels</h4>
            <div class="max-width overflow-scroll">
            <div class="d-flex flex-row py-4 justify-content-center" *ngIf="isLoading">
              <div class="spinner-border text-secondary" role="status" style="display: block">
              </div>  
            </div>
            
            <table class="table table-striped" *ngIf="!isLoading">
                <thead>
                  <tr>
                    <th scope="col" *ngFor="let header of headers" class="min sticky-column py-3 px-3">{{header.name}}</th>
                  </tr> 
                </thead>
                <tbody>
                  <tr *ngFor="let record of data">
                    <td *ngFor="let header of headers" class="min py-2 px-3 sticky-column"
                      [title]="record[header.field]"
                      [ngClass]="{'color-success': header.field.toLowerCase().indexOf('status') > -1 && record[header.field].toLowerCase().indexOf('active') > -1, 
                      'color-danger': header.field.toLowerCase().indexOf('status') > -1 && record[header.field].toLowerCase().indexOf('active') == -1}">{{record[header.field]}}</td>
                  </tr>
                </tbody>
              </table>  
            </div>  
        </div>
    </div>
</div>
<div class="mt-3 d-flex  flex-row justify-content-end " *ngIf="pagination.maxRecordsPerPage <= pagination.totalCount && !isLoading">
    
  <div class="p-2 mx-2 text-secondary">
    {{pagination.pageNumber + 1}} / {{pagination.totalPages}}
  </div>
  <nav >
      <ul class="pagination">
        <li class="page-item drop-shadow">
          <a class="page-link" (click)="paginate(pagination.pageNumber - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item drop-shadow">
          <a class="page-link" (click)="paginate(pagination.pageNumber + 1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
</div>

