<div class="row mb-2">
    <h2>VDP Feeds</h2>
</div>
<div class="row mb-2">
    <div class="col-4">
        <div class="bg-white drop-shadow p-2">
          
        </div>
        <div class="bg-light col-12 p-3 d-flex flex-row">
          <div class=""></div>
          <div class=""></div>
        </div>
    </div>
    <div class="col-4">
        <div class="bg-white drop-shadow p-2">
          
        </div>
        <div class="bg-light col-12 p-3 d-flex flex-row">
          <div class=""></div>
          <div class=""></div>
        </div>
    </div>
    <div class="col-4">
        <div class="bg-white drop-shadow p-2">
          
        </div>
        <div class="bg-light col-12 p-3 d-flex flex-row">
          <div class=""></div>
          <div class=""></div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 ">
        <div class="px-3 py-3 bg-white drop-shadow">
            <h4>VDP - Vessels</h4>
            <div class=" max-width overflow-scroll">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col" *ngFor="let header of headers" class="min sticky-column py-3 px-3">{{header.name}}</th>
                  </tr> 
                </thead>
                <tbody>
                  <tr *ngFor="let record of data">
                    <td *ngFor="let header of headers" class="min py-3 px-3 sticky-column" 
                      [ngClass]="{'text-success': header.field.toLowerCase().indexOf('status') > -1, 'text-danger': header.field.toLowerCase().indexOf('status') > -1}">{{record[header.field]}}</td>
                  </tr>
                </tbody>
              </table>  
            </div>  
        </div>
    </div>
</div>
<div class="row d-flex">
    <div class="col-12 flex-reverse">welcome</div>
</div>

