.filters-controls, .filters-controls p{
    font-family: 'Noto sans', 'Helvetica', sans-serif;
    font-size: 12px !important;
}
.filters-controls p{
    font-size: 14px !important;
}

.input-new{
    width: 200px;
}